html,
body {
  -ms-overflow-style: none;
  /* IE and Edge /
scrollbar-width: none; / Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

.console-box {
  min-height: 20px;
  white-space: pre;
}
